h1 {
  font-family: "montserrat";
  font-size: 50px; 
  vertical-align: top;
  text-align: center;
  color: White;
  text-shadow:
      0 0 5px #fff,
      0 0 10px #C33764,
      0 0 20px rgb(255,0,0),
      0 0 40px rgb(255, 102, 0),
      0 0 50px #C33764,
      0 0 80px rgb(0, 102, 100);
      cursor:pointer;
}
.h1:hover{
  animation:zoom-in;
}
h6 {
  margin-top:500px;
  text-align:right;
  vertical-align: bottom;
  font-size: 12px;
  color:white;
}

td {
  
  text-color: white;
  border: 4px solid #333;
  height: 100px;
  width: 100px;
  text-align: center;
  font-family: "montserrat";
  vertical-align: middle;
  font-size: 60px;
  cursor: pointer;
}
table {
  
  border-collapse: collapse;
  position: absolute;
  left: 50%;
  margin-left: -155px;
  top: 35%
}
table tr td {
  border-top:none;
  outline: none;
    border-color: #9ecaed;
    box-shadow:
      0 0 5px #fff,
      0 0 10px #432c9e,
      0 0 20px #432c9e,
      0 0 40px #432c9e,
      0 0 50px #432c9e,
      0 0 80px #432c9e;
}
  
}

table tr:first-child td {
   border-top: 0;
}

table tr:last-child td {

  border-bottom: 0;
}
table tr td:first-child {
  
  border-left: 0;
}
table tr td:last-child {
 
  border-right: 0;
}

.endgame {
  display: none;
  width: 200px;
  top: 90px;
position: absolute;
  left: 50%;
  margin-left: -100px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  border-radius: 10px;
  color: white;
  font-size: 2em;
}
body{
  background: #C33764;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin: 0;
  padding: 0;
}
.container{
  text-align: center;
  margin-top: 30px;
}
.btn{
  vertical-align:bottom;
  top:370px;
  border: 1px solid #fff;
  background: none;
  padding: 10px 20px;
  font-shape: bold;
  font-size: 20px;
  font-family: "montserrat";
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}
.btn2{
  color: #fff;
}

.btn2:hover{
  background-color: #1D2671;
  color: #fff;
  border : #fff;
}
.btn::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #1D2671;
  z-index: -1;
  transition: 0.8s;
}

.btn2::before{
  bottom: 0;
  border-radius: 50% 50% 0 0;
}

.btn2:hover::before {
  background-color:#fff;  
  height: 180%;
}

.cell{
  color: white;
  text-shadow:
      0 0 5px #fff,
      0 0 10px #8932a8,
      0 0 20px #8932a8,
      0 0 40px #8932a8,
      0 0 50px #8932a8,
      0 0 80px #8932a8;
}
